<h1>Photo Frame Store</h1>
<h1>Our frame Videos</h1>
<link rel="stylesheet" href="css/video.css">
<!-- Video Section -->
<section class="video-gallery">
    <div class="video-container">
        <div class="video-box">
            <iframe src="https://www.youtube.com/embed/VIDEO_ID_1" frameborder="0" allowfullscreen></iframe>
            <p>How Photo Frames Are Made</p>
        </div>
        <div class="video-box">
            <iframe src="https://www.youtube.com/embed/VIDEO_ID_2" frameborder="0" allowfullscreen></iframe>
            <p>Creative DIY Photo Frame Ideas</p>
        </div>
        <div class="video-box">
            <iframe src="https://www.youtube.com/embed/VIDEO_ID_3" frameborder="0" allowfullscreen></iframe>
            <p>Best Personalized Photo Frames</p>
        </div>
    </div>
</section>
