<h1>Photo Frame Store</h1>
<link rel="stylesheet" href="css/service.css">
 <!-- Service Section -->
 <section class="services">
    <h1>Our Services</h1>
    <div class="service-container">
        <div class="service-card">
            <img src="images/service1.jpg" alt="Custom Photo Frames">
            <h2>Custom Photo Frames</h2>
            <p>We design custom photo frames to make your memories last forever.</p>
            <a href="/enquire-now?service=Commercial Photography">
                <button>Enquire Now</button>
            </a>
        </div>
        <div class="service-card">
            <img src="images/photocoping.jfif" alt="Photo Printing">
            <h2>Photo Printing</h2>
            <p>Get high-quality photo prints in various sizes and finishes.</p>
            <a href="/enquire-now?service=Matrimonial Photography">
                <button>Enquire Now</button>
            </a>
        </div>
        <div class="service-card">
            <img src="images/priniting.jpg" alt="Canvas Prints">
            <h2>Canvas Prints</h2>
            <p>Turn your favorite photos into stunning canvas prints.</p>
            <a href="/enquire-now?service=Photocopying">
                <button>Enquire Now</button>
            </a>
        </div>
        <div class="service-card">
            <img src="images/coordinated-family-portraits.jpg" alt="Photo Restoration">
            <h2>Photo Restoration</h2>
            <p>Restore and preserve old photographs with our expert services.</p>
            <a href="/enquire-now?service=Printing">
                <button>Enquire Now</button>
            </a>
        </div>
    </div>
</section>
