<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <footer>
        <div class="footer-container">
            <div class="sec aboutus">
                <h2>About Us</h2>
                <p>When it comes to serving our customers, our goal is to create a perfect frame to capture your favorite moments. 
                    We, Perfect Prints, ensure that nothing from our creations ends up in a landfill
                    and constantly innovate the way we do business so you can feel more care and less environmental impact. 
                    Our frames will capture all your beautiful memories that you can keep in the corners and cherish them for years to come.</p>
                <ul class="sci">
                    <li><a href="https://www.facebook.com/61555802753762/videos/1044896176719229/?mibextid=rS40aB7S9Ucbxw6v"><i class="bx bxl-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/letang_canvas_and_innovation?igsh=dXpscXZvOGpoMnpk"><i class="bx bxl-instagram"></i></a></li>
                    <li><a href="#"><i class="bx bxl-twitter"></i></a></li>
                    <li><a href="#"><i class="bx bxl-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="sec quicklinks">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">More</a></li>
                </ul>
            </div>
            <div class="sec contactBx">
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <span><a href="tel:+977 9862318586">+977 9862318586</a></span><br>
                        <p><a href="inkeshadhikary@gmail.com">inkeshadhikary@gmail.com</a></p>
                    </li>
                </ul>
            </div>

        </div>
    </footer>
</body>

</html>