
<h1>Photo Frame Categories</h1>
<link rel="stylesheet" href="css/category.css">

    
<section class="categories">
    <div class="category">
        <img src="images/images4.jpg" alt="Classic Frames">
        <h2>Classic Frames</h2>
    </div>
    <div class="category">
        <img src="images/collage.jpg" alt="Modern Frames">
        <h2>Modern Frames</h2>
    </div>
    <div class="category">
        <img src="images/family.webp" alt="Vintage Frames">
        <h2>Vintage Frames</h2>
    </div>
    <div class="category">
        <img src="images/friend.jpg" alt="Custom Frames">
        <h2>Custom Frames</h2>
    </div>
</section>