<div class="container-fluid">
    <div class="w-50 card p-4 my-3">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Enter Title</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Enter your title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter Description</label>
            <textarea class="form-control" name="Content" id="Content"rows="3"></textarea>
        </div>
        <div class="input-group mb-3">
            <label for="exampleFormControlInput1" class="form-label">Enter Title</label>
            <select class="form-select" id="Category">
                <% CategoryList.forEach(category => { %>
                    <option value="<%= category.name %>"><%= category.name %></option>
                <% }) %>
            </select>
        </div>
        <div class="input-group mb-3">
            <input type="file" class="form-control" name="image" id="Image" placeholder="Enter Your Blogs Image">
        </div>
        <div class="input-group mb-3">
            <button id="Add-Blogs-Button" class="btn btn-primary" type="submit">Button</button>
        </div>
    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    const Add_Blogs = document.getElementById("Add-Blogs-Button")
    Add_Blogs.addEventListener("click", async () => {
        const title = document.getElementById("title").value;
        const Category = document.getElementById("Category").value;
        const content = document.getElementById("Content").value;
        const image = document.getElementById("Image");

        // setting up the inserted data into form data
        console.log(image.files);

        console.log(title, Category, content, image.files[0]);
        const formData = new FormData();
        formData.append("title", title);
        formData.append("Category", Category);
        formData.append("content", content);
        formData.append("blog_image", image.files[0]);
        formData.append("isPublish", true);


        const upload_blogs = await axios({
            method: "POST",
            url: "http://localhost:8001/api/v1/blogs/upload-blogs",
            headers: {
                "Content-Type": "mutipart/from-data",
            },
            data: formData
        })
    })
</script>