<h1>Photo Frame Store</h1>
<h1>Our Gallery</h1>
    <link rel="stylesheet" href="css/gallery.css">
     <!-- Gallery Section -->
     <section class="gallery">

        <!-- Filter Buttons -->
        <div class="filter-buttons">
            <button class="filter-btn active" data-filter="all">All</button>
            <button class="filter-btn" data-filter="wooden">Wooden Frames</button>
            <button class="filter-btn" data-filter="metal">Metal Frames</button>
            <button class="filter-btn" data-filter="custom">Custom Frames</button>
        </div>
        <!-- Image Grid -->
        <div class="gallery-container">
            <div class="gallery-item wooden">
                <img src="images/wooden.jpg" alt="Wooden Frame">
            </div>
            <div class="gallery-item metal">
                <img src="images/metal.jpg" alt="Metal Frame">
            </div>
            <div class="gallery-item custom">
                <img src="images/custome1.webp" alt="Custom Frame">
            </div>
            <div class="gallery-item wooden">
                <img src="images/gallery2.jpg" alt="Wooden Frame">
            </div>
            <div class="gallery-item metal">
                <img src="images/gallery3.jpg" alt="Metal Frame">
            </div>
            <div class="gallery-item custom">
                <img src="images/custome2.jpeg" alt="Custom Frame">
            </div>
        </div>
    </section>




