<h1>Photo Frame Store</h1>
<link rel="stylesheet" href="css/product.css">
<section class="products">
    <h2>Products</h2>
  <div class="products">
    <div class="product-grid">
        <div class="product-item">
            <img src="images/peach-frame.jpg" alt="Peach Color Decorative Photo Frame">
            <div class="product-title">Peach Color Decorative Photo Frame</div>
            <div class="product-price">₹250</div>
            <a href="#" class="add-to-cart">add-to-cart</a>
        </div>
        <div class="product-item">
            <img src="images/photo-frame-2.jpg" alt="Photo Frame for 2 Pics">
            <div class="product-title">Photo Frame for 2 Pics</div>
            <div class="product-price">₹200</div>
            <a href="#" class="add-to-cart">add-to-cart</a>
        </div>
        <div class="product-item">
            <img src="images/family-frame.jpg" alt="Photo Frame for Family">
            <div class="product-title">Photo Frame for Family</div>
            <div class="product-price">₹599</div>
            <a href="#" class="add-to-cart"> add-to-cart</a>
        </div>
        <div class="product-item">
            <img src="images/happy-frame.jpg" alt="Happy 3 Pics Photo Frame">
            <div class="product-title">Happy 3 Pics Photo Frame</div>
            <div class="product-price">₹350</div>
            <a href="#" class="add-to-cart">add-to-cart</a>
        </div>
        <div class="product-item">
            <img src="images/clock-frame.webp" alt="Clock & 5 Pics Photo Frame">
            <div class="product-title">Clock & 5 Pics Photo Frame</div>
            <div class="product-price">₹1,200</div>
            <a href="#" class="add-to-cart"> add-to-cart</a>
        </div>
        <div class="product-item">
            <img src="images/evergreen-frames.jpg" alt="Evergreen Memories Photo Frames">
            <div class="product-title">Evergreen Memories Photo Frames</div>
            <div class="product-price">₹2,400</div>
            <a href="#" class="add-to-cart">add-to-cart</a>
        </div>
    </div>
  </div>
  </section>